[Unit]
Description=Kmonad Keyboard Remapping Service
After=graphical.target

[Service]
Type=simple
ExecStart=/var/home/frieser/.local/bin/kmonad /home/frieser/.config/kmonad/trackpointII.kbd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target

