
//@theme "/var/home/frieser/.local/share/rofi/themes/rounded-gray-dark.rasi"

//@theme "/var/home/frieser/.local/share/rofi/themes/rounded-blue-dark.rasi"

@theme "/var/home/frieser/.local/share/rofi/themes/rounded-gray-dark.rasi"
