input {
    keyboard {
        xkb {}
        numlock
    }

    touchpad {
        tap
        dwt
        natural-scroll
    }

    mouse {}

    trackpoint {}

    warp-mouse-to-focus mode="center-xy-always"
}

gestures {
    hot-corners {
        off
    }
}
