layer-rule {
    match namespace="^notifications$"

    block-out-from "screencast"

    shadow {
        on
        softness 40
        spread 5
        draw-behind-window true
        color "#00000064"
    }
}
layer-rule {
    match namespace="^walker$"

    shadow {
        on
        softness 40
        spread 5
        draw-behind-window true
        color "#00000064"
    }
}
// layer-rule {
//     match namespace="waybar"
//     match at-startup=true
//
//     block-out-from "screencast"
//
//     shadow {
//         on
//         softness 40
//         spread 5
//         offset x=0 y=5
//         draw-behind-window true
//         color "#00000064"
//     }
//
//     geometry-corner-radius 12
//     place-within-backdrop true
// }
