layout {
    center-focused-column "always"

    gaps 8

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    preset-window-heights { }

    default-column-width { proportion 0.6; }

    shadow {}

    struts {
        left 8
        right 8
        top 8
        bottom 8
    }
}
