spawn-sh-at-startup "QML_IMPORT_PATH=/usr/lib64/qt6/qml LD_LIBRARY_PATH=/usr/lib64/qt6/qml/Niri uwsm app -- quickshell"
spawn-sh-at-startup "uwsm app -- hypridle -c $HOME/.config/hypr/hypridle.conf"
spawn-sh-at-startup "uwsm app -- opencode serve --port 4098 --host 0.0.0.0"
