spawn-sh-at-startup "uwsm app -- waybar"
spawn-sh-at-startup "uwsm app -- hypridle -c /var/home/frieser/.config/hypr/hypridle.conf"
spawn-sh-at-startup "uwsm app -- swaybg -i /usr/share/backgrounds/aquamarine.webp -m fill"
