// Add corner radius to windows
window-rule {
    geometry-corner-radius 2
    clip-to-geometry true
}

// Block out screencast windows from being focused
window-rule {
    match is-active=false
    block-out-from "screencast"
}

// Open floating windows
window-rule {
    match app-id="local.floating"
    open-floating true
    default-column-width { fixed 800; }
    default-window-height { fixed 1200; }
    min-width 800
    max-width 800
    min-height 1200
    max-height 1200
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}
